body{
	    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.site-heading h2,.site-heading h3{
	color: white;
	text-transform: uppercase;
	font-size: 1.2em;
}

.site-heading h3{
	font-size: 0.75em;
}

.site-heading .yellow{
	color: #ffc617;
}

header.masthead .page-heading, header.masthead .site-heading{
	text-align: left;
}

header.masthead .page-heading, header.masthead .post-heading, header.masthead .site-heading{
	padding: 50px 0 30px;
}

.btnAssineJa{
	background-color: #d32127;
	padding: 0.5em;
	text-align: center;
	cursor: pointer;
	transition: 0.3s ease;
}

.btnAssineJa:hover, .btnAssineJa2:hover{
	background: #d3212780;
}

.btnAssineJa2{
	background-color: #d32127;
	padding: 0.5em;
	text-align: center;
	cursor: pointer;
	transition: 0.3s ease;
	font-size: 1.5em;
	color: white;
	text-transform: uppercase;
}

#descricao h2{
	text-transform: uppercase;
	text-align: center;
}
#descricao p{
	text-align: center;
	font-size: 0.9em;
}
#descricao b{
	font-weight: bold;
}

#eventos h2{
	text-transform: uppercase;
	text-align: center;
}
#eventos p{
	text-align: center;
}

.dataEvento{
	font-size: 1em;
	font-weight: 400;
	    letter-spacing: -0.5px;
}

.tipoEvento{
	font-size: 0.8em;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	margin: 10px 0;
	    letter-spacing: -0.5px;
}

.lutadores{
	font-size: 1em;
	margin: 10px 0;
	    letter-spacing: -0.5px;
}

.lutadores b{
	color: #d32127;
}

#everywhere p{
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
}

#everywhere b{
	text-align: center;
	text-transform: uppercase;
	color: #d32127;
}

section {
	padding-top: 45px;
}

.title{
	margin-bottom: 20px;
}

header.masthead{
	margin-bottom: 0px;
}

p{
	margin: 0px;
}

.efeitoBranco{
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: 0px 0px 70px 40px white;
    margin-top: 96px;
}

.operadorasBox{
	display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.operadoras {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 150px;
    justify-content: space-around;
}

.myFooter{
	background: #ededed;
    padding: 25px;
}

.myFooter p{
	   font-weight: bold;
    font-size: 0.7em;
    text-align: center;
    margin-bottom: 21px;
}

@media(min-width: 768px){
	.efeitoBranco{
		display: none;
	}
}